body, main {
    margin: 0 auto;
    font-size: 14;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: hsl(0, 0%, 90%);
}

header {
    background-color:white;
    position: fixed;
    z-index:10000;
    width: 100%;
    height: 70px;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    margin: auto;
    text-align: center;
    min-width: 50%;
    position: relative;
    top: 20px;

}

.post {
    width: 600px;
    margin: 50px auto 80px auto;
    padding: 0;
    position: relative;
    top:50px;
    background-color: white;
    border-radius: 5px;
}


.postNav p {
    float: right;
    
    padding-right: 10px;
    font-size: 0.9rem;  
    margin: 10px auto;    
}

.postNav h3 {
  
    float: left;
    padding-left: 10px;
    margin: 10px auto;
    font-size: 1rem;
}

.post img {
    width: 100%;
    height: auto;
    
}

.postCopy p {
    font-weight: normal;
    margin: 0 auto;
    padding: 15px;
    font-size: 0.9rem;
    text-shadow: -3px 3px 8px rgba(150, 150, 150, 0.81);
}


